.workoutLogs{
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px
}
.pagingBtn{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.pagingBtn button{
    border-radius: 20px;
    border: 3px solid var(--main-c);
    padding: 5px 20px;
}

@media(max-width: 850px){
    .workoutLogs{
        grid-template-columns: 1fr;
    }
}