.form{
    padding: 30px 50px;
    font-size: 18px;
}

.inputs div{
    padding-bottom: 20px;
}
.inputs label{
    display:inline-block;
    width: 150px;
}
.inputs textarea{
    margin-top: 5px;
    width: 100%;
    height: 80px;
}

.button{
    text-align: center;
}